


#log {
  text-wrap: normal;
}

#basicData, #detailData {
  margin: 5px 25px;
  width: 100%;
}

#mydata {
}

#hot-display-license-info {
  display: none;
}

#toolbox {
  padding: 20px 35px 10px 25px;
}  

button#export-file {
  padding: 5px;
}


a#clearStorage {
  padding: 5px 0;
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}
