#jz_sidebar {
  position: fixed;
  right: 0;
  top: 100px;
  background: rgb(76, 99, 129) !important;
  border: 1px solid rgb(76, 99, 129);
  //border-top-left-radius: 15px !important;
  //border-bottom-left-radius: 15px !important;
  z-index: 99999;
}

.sidebar-header {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  background: #4C6381;
}

.sidebar-body {
  display: none;
  padding: 10px 10px !important;
  overflow: hidden;
  background: #fff;
}

.full .sidebar-body {
  display: block;
}

#jz_sidebar .sidebar-body .jz_btn {
  margin: 5px 0;
  padding: 5px;
  background: #4C6381;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

/* notie */
.notie-container {
	z-index: 99999 !important;
}

.notie-background-info {
  background: #4C6381 !important;
}

